.profile__edit-button {
  padding: 0;
  position: absolute;
  top: 15px;
  right: -40px;
  border: 0;
  border-radius: 0;
  outline: none;
  background-color: transparent;
  background-image: url('../../../images/Edit-Button.svg');
  background-size: contain;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.profile__edit-button:hover {
  opacity: .6;
}

@media screen and (max-width: 424px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    top: 10px;
    right: -30px;
  }
}
