.popup__container_confirm {
  padding: 35px;
  width: 360px;
  height: 110px;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .popup__container_confirm {
    padding: 25px;
    width: 280px;
  }
}

@media screen and (max-width: 424px) {
  .popup__container_confirm {
    width: 232px;
  }
}
